
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    font-size: 50px;
}
#green{
    background-color: #3FF295;
}
#red{
    background-color: #FF2B30;
}
#blue{
    background-color: #05B0FF;
}

button{
    border-radius: 20px;
    width: 200px;
    height: 120px;
    margin: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 15px 3px rgb(198, 4, 198);
}
#container{
    display: flex;
    justify-content: center;
    margin-top: 8%;

}